// styles for home layout


.home_container {
  @include outer-container;
  height: 100vh;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.home_card {
  @include span-columns(4);

  @include media($small-bp) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($medium-bp) {
    @include span-columns(4);
    @include shift(4);
  }
}

.home_nav {
  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    text-transform: uppercase;
  }

  a {
    color: #fff;
  }
}
