// styles for home layout


.home_container {
  @include outer-container;
  height: 100vh;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.home_card {
  @include span-columns(4);

  @include media($small-bp) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($medium-bp) {
    @include span-columns(4);
    @include shift(4);
  }
}

.home_nav {
  margin-top: $gutter;
  ul {
    padding-left: 0;
    font-size: 14px;
  }

  li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: $gutter/2;
    margin-bottom: $gutter/2;
  }

  a {
    color: #fff;
    border-bottom-color: #fff;
  }

  a:hover {
    border-bottom-color: $feature-color-1;
  }
}
