// VARIABLES, BREAKPOINTS, GLOBAL SETTINGS ETC.

body {
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e96443 , #904e95); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e96443 , #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  overflow: hidden; // fix later pls
  font-family: 'Roboto', sans-serif;
}

.container {
  @include outer-container;
  height: 100vh;
  display: flex;
  align-items: center;
  vertical-align: center;
}
