// VARIABLES

$padding-usual: 20px;
$feature-color-1: #e96443;
$feature-color-2: #904e95;


// GLOBAL SETTINGS ETC.

body {
  background: #e96443; /* fallback for old browsers */
  background: linear-gradient(to left,  $feature-color-1 , $feature-color-2);
  //background: #f1c0d6;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

a,
a:link,
a:active,
a:visited {
  border-bottom: 1px solid $feature-color-1;
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom-color: $feature-color-2;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 30px;

  a,
  a:link,
  a:visited,
  a:active {
    border-bottom: 0;
  }
}

.container {
  @include outer-container;
  margin-top: $gutter*4;
}


.card {
  padding: $padding-usual;
  color: #fff;
  border: 5px solid #fff;
  width: auto;
  //font-family: 'Inconsolata', monospace;

  a {
    color: #fff;
  }
}

.social {
  font-size: 12px;
  padding-left: 0;
  margin-top: $gutter;

  li {
    display: inline-block;
    margin-right: $gutter/2;
  }

  a,
  a:link,
  a:active,
  a:visited {
    border: none;
  }
}
