// VARIABLES

$padding-usual: 20px;
$feature-color-1: #e96443;
$feature-color-2: #904e95;


// GLOBAL SETTINGS ETC.

body {
  background: #e96443; /* fallback for old browsers */
  background: linear-gradient(to left,  $feature-color-1 , $feature-color-2);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

a,
a:link,
a:active,
a:visited {
  border-bottom: 1px solid $feature-color-1;
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom-color: $feature-color-2;
}

p {
  font-size: 16px;
}

.container {
  @include outer-container;
}

.row {
  @include row();
}

.card {
  padding: $padding-usual;
  color: #fff;
  border: 5px solid #fff;
  width: auto;
  //font-family: 'Inconsolata', monospace;

  a {
    color: #fff;
  }
}
